@media screen and (max-width: 900px) {
	.logo {
		width: 100%;
	}
	.web-logo {
		display: none;
	}
	.mobile-logo {
		display: block;
	}
	.links {
		display: none;
	}
	.bottom-nav {
		display: flex;
	}
}
